[submodule "frontend"]
	path = services/frontend
	url = https://github.com/ldynia/web-lucky-frontend.git
[submodule "movie"]
	path = services/backend/movie
	url = https://github.com/ldynia/flask-lucky-movie.git
[submodule "music"]
	path = services/backend/music
	url = https://github.com/ldynia/dotnet-lucky-music.git
